.header {
    display: flex;
    align-items: center;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;
}

.header .title-group a {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 25px;
}

.header .icon {
    padding-right: 15px;
}