<mat-card class="note mat-elevation-z3">
    <mat-card-title class="title">
        Cadastro
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Cadastrar um novo notebook.
    </mat-card-subtitle>
</mat-card>
<form class="note-form">
    <div class="input-div">
      <label class="note-label">Modelo</label>
      <input class="input" matInput placeholder="Mac Pro" [(ngModel)]="notebook.name" name="name">
    </div>
    
    <div class="input-div">
        <label class="note-label">Valor</label>
        <input class="input" matInput placeholder="5000.00" [(ngModel)]="notebook.price" name="price">
    </div>
</form>
<div class="buttons">
    <button class="button" mat-raised-button color="dark" dirConfirm (click)="createNotebook()"><mat-icon>done</mat-icon>Salvar</button>
    <button class="button" mat-raised-button color="dark" dirCancel (click)="cancel()"><mat-icon>close</mat-icon>Cancelar</button>
</div>
