<mat-card class="note mat-elevation-z3">
    <mat-card-title class="title">
        Cadastro
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Cadastrar um novo notebook.
    </mat-card-subtitle>
</mat-card>
<form class="note-form">
    <mat-form-field class="input-div">
      <mat-label class="note-label">Modelo</mat-label>
      <input matInput placeholder="Mac Pro">
    </mat-form-field>
    
    <mat-form-field class="input-div">
        <mat-label class="note-label">Valor</mat-label>
        <input matInput placeholder="5000.00">
    </mat-form-field>
</form>