.sidenav {
    background-color: rgb(71, 71, 71);
    width: 200px;
}

.sidenav a {
    color: white;
}

.sidenav .icon {
    padding-right: 10px;
}

.content {
    padding: 4px 0;
    background-color: rgb(235, 235, 235);
}

.sidenav .is-active {
    color: #0ae4bd;
}