<mat-card class="smart mat-elevation-z3">
  <mat-card-title class="title">
    Smartphone
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Todos os smartphone disponíveis.
  </mat-card-subtitle>
  <button class="button" mat-raised-button color="dark" appGreen (click)="navigateToSmartphoneCreate()">
    <mat-icon>add</mat-icon>Smartphone
  </button>
</mat-card>
<div class="card-container">
  <mat-card class="example-card phone-card" *ngFor="let phone of smartphones">
    <mat-card-header>
      <mat-card-subtitle>Modelo:
        <mat-card-title>
          <p>
            {{phone.name}}
          </p>
        </mat-card-title>
      </mat-card-subtitle>
      <mat-card-subtitle>Preço:
        <mat-card-title>
          <p>
            {{phone.price | currency: 'BRL' }}
          </p>
        </mat-card-title>
      </mat-card-subtitle>
    </mat-card-header>
    <a class="button" dirEdit mat-button routerLink="/smartphones/update/{{phone.id}}"><mat-icon class="icon">edit</mat-icon> Editar</a>
    <a class="button" dirCancel mat-button routerLink="/smartphones/delete/{{phone.id}}"><mat-icon class="icon">delete</mat-icon>Excluir</a>
  </mat-card>
</div>