.smart {
    position: relative;
    background-color: rgb(235, 235, 235);
}

.smart .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: rgb(80, 80, 80);
}

.smart .subtitle {
    font-size: 1.2rem;
    color: rgb(80, 80, 80);
}

.smart .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}