.smart {
    position: relative;
    background-color: rgb(235, 235, 235);
}

.smart .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: rgb(80, 80, 80);
}

.smart .subtitle {
    font-size: 1.2rem;
    color: rgb(80, 80, 80);
}

.smart .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.card-container {
    display: flex;
    padding: 24px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    background-color: white;
}

.phone-card {
    margin: 24px auto;
    min-width: 250px;
    max-width: 250px;
}

.card-container .phone-card .mat-card-subtitle p {
    color: #ffffff;
}

.button {
    margin-right: 20px;
}