<mat-card class="note mat-elevation-z3">
    <mat-card-title dirCancel class="title">
        Deletar
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Deletar um novo smartphone.
    </mat-card-subtitle>
</mat-card>
<form class="note-form">
    <div class="input-div">
      <label class="note-label">Modelo</label>
      <input class="input" disabled matInput placeholder="Mac Pro" [(ngModel)]="notebook.name" name="name">
    </div>
    
    <div class="input-div">
        <label class="note-label">Valor</label>
        <input class="input" disabled matInput placeholder="5000.00" [(ngModel)]="notebook.price" name="price">
    </div>
</form>
<div class="buttons">
    <button class="button" mat-raised-button color="dark" dirConfirm (click)="cancel()"><mat-icon>close</mat-icon>Cancelar</button>
    <button class="button" mat-raised-button color="dark" dirCancel (click)="deleteNotebook()" ><mat-icon>done</mat-icon>Excluir</button>
</div>
