<mat-card class="smart mat-elevation-z3">
    <mat-card-title class="title">
        Autalizar
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Atualizar smartbook.
    </mat-card-subtitle>
</mat-card>
<form class="smart-form">
    <div class="input-div">
      <label class="smart-label">Modelo</label>
      <input class="input" matInput placeholder="Mac Pro" value="{{smartphone?.name}}" name="name">
    </div>
    
    <div class="input-div">
        <label class="smart-label">Valor</label>
        <input class="input" matInput placeholder="5000.00" value="{{smartphone?.price | currency: 'BRL' }}" name="price">
    </div>
</form>
<div class="buttons">
    <button class="button" mat-raised-button color="dark" dirConfirm ><mat-icon>done</mat-icon>Salvar</button>
    <button class="button" mat-raised-button color="dark" dirCancel (click)="cancel()"><mat-icon>close</mat-icon>Cancelar</button>
</div>
