.header {
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 0;
    display: flex;
    z-index: 3;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;
}

.header .title-footer a {
    padding-left: 8px;
}
