/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin: 64px 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.grey {
    color: rgb(61, 61, 61);
}

.white {
    color: rgb(195, 195, 195)
}

.snack-bar span.mat-button-wrapper {
    color: #f35d63;
}


.mat-tab-label-container {
    background-color:#d0d0d0;
}

.mat-tab-label .mat-tab-label-content {
    text-transform: uppercase;
    color: #108872;
}

.mat-button .mat-button-wrapper .icon{
    font-size: 1.2rem;
    margin-right: 5px;
}

.msg-success {
    background-color: #78bb86;
    font: #fff;
}

.msg-error {
    background-color: #db7677;
    font: #fff;
}

.create {
    color: #3dbe59
}

.update {
    color: #c1c440
}

.delete {
    color: #e65656
}