<mat-card class="smart mat-elevation-z3">
    <mat-card-title class="title">
        Cadastro
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Cadastrar um novo smartphone.
    </mat-card-subtitle>
</mat-card>
<div class="smart-form">
    <mat-form-field class="input-div">
      <mat-label class="smart-label">Modelo</mat-label>
      <input matInput placeholder="Mac Pro">
    </mat-form-field>
    
    <mat-form-field class="input-div">
        <mat-label class="smart-label">Valor</mat-label>
        <input matInput placeholder="5000.00">
    </mat-form-field>
    <div class="buttons">
        <button class="button" mat-raised-button color="dark" dirConfirm (click)="createSmartphone()"><mat-icon>done</mat-icon>Salvar</button>
        <button class="button" mat-raised-button color="dark" dirCancel (click)="cancel()"><mat-icon>close</mat-icon>Cancelar</button>
    </div>
</div>