.smart {
    background-color: rgb(235, 235, 235);
}

.smart .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
    color: rgb(80, 80, 80);
}

.smart .subtitle {
    font-size: 1.2rem;
    color: rgb(80, 80, 80);
}

.smart-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.input-div .smart-label {
    color: rgb(56, 56, 56);
}

.input-div input {
    color: rgb(97, 97, 97);
}

.smart-form .button {
    margin-right: 20px;
}